.display-header-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
  position: relative;
}

/* Large desktop */
@media (min-width: 1200px) {
  .display-header-bg {
    height: 400px;
  }
}

@media print {
  .display-header-bg {
    background-image: unset!important;
    height: unset!important;
  }
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 400;
  left: 50%;
  line-height: 1.2;
  position: absolute;
  text-align: center;
  text-shadow: 0em 0.04em 0.09em rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
  top: 50%;
}

@media print {
  .title {
    color: #424242;
    font-size: 30px;
    text-shadow: none;
    left: 0!important;
    padding: 20px 0;
    position: relative!important;
    text-align: center!important;
    transform: none!important;
    top: 0!important;
  }
  .title span {
    font-weight: 400!important;
  }
}

.title span {
  font-weight: 700;
}

.hide-screen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ant-menu-item {
  padding-right: 5px;
}

.ant-menu-item .anticon {
  font-size: 18px;
  margin-right: 5px;
}

.display-header-bg .ant-menu.ant-menu-dark {
  background: rgba(0, 0, 0, 0.4);
}

@media print {
  .ant-menu {
    display: none;
  }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: unset;
}

.twitter-picker {
  position: absolute!important;
}

.hidden {
  display: none;
}