ul.cards-list {
  list-style-type: none;
  padding-left: 0;
}

ul.cards-list li {
  margin-bottom: 2em;
}

.cards-start-circle {
  background-color: #EDEDED;
  border-radius: 50%;
  height: 12px;
  left: -8px;
  margin-top: 6px;
  position: absolute;
  width: 12px;
}