ul.cards-list {
  list-style-type: none;
  padding-left: 0;
}

ul.cards-list li {
  /* break-inside: avoid; */
  /* page-break-after: avoid; */
  margin-bottom: 2em;
}

@media print {
  ul.cards-list li {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    position: relative;
  }
  ul.cards-list .ant-divider {
    display: none;
  }
}

.cards-start-circle {
  background-color: #EDEDED;
  border-radius: 50%;
  height: 12px;
  left: -8px;
  margin-top: 6px;
  position: absolute;
  width: 12px;
}

@media print {
  .cards-start-circle {
    display: none;
  }
  .card-labels {
    margin-top: 5px;
  }
}