.card-desc {
  color: #757575;
  word-wrap: break-word;
}

.card-name, .card-name a {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 0;
}

.card-name a:hover {
  color: #212121;
}

.card-address {
  color: #BDBDBD;
  margin-bottom: 15px;
}

.card-address:hover {
  color: #212121;
  cursor: pointer;
}

.card-address a.ant-typography, .card-address .ant-typography a {
  color: #999999;
}

.card-address a.ant-typography:hover, .card-address .ant-typography a:hover {
  color: #212121;
}

.itinerary-card {
  position: relative;
}

.card-start-time {
  color: #999999;
  left: 0;
  position: relative;
}

@media print {
  .card-start-time {
    left: -105px;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .card-start-time {
    position: absolute;
    left: -105px;
    min-width: 75px;
    text-align: center;
  }
}

.card-cover {
  border-radius: 5px;
  height: 50px;
}

.header-left-column {
  width: 70%;
  display: inline-block;
}

.header-right-column {
  width: 30%; 
  display: inline-block; 
  vertical-align: top;
  text-align: right;
}